In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from datetime import *

In [ ]:
dfy = pd.read_csv("/content/drive/MyDrive/Office/rnd/SSv4/data/y.csv", index_col=0)
dfx = pd.read_excel("/content/drive/MyDrive/Office/rnd/SSv4/data/compsaa_file2_20200701_20201231.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
dfx["date_key"] = pd.to_datetime(dfx["date_key"], format="%Y%m%d")
dfy['date_time'] =  pd.to_datetime(dfy['date_time'], infer_datetime_format=True)

In [ ]:
dfx_nocom = dfx[(dfx['total_comment_num'].isna()) | (dfx['total_comment_num'] == 0.0)]
dfx_nocom.head()

,sku,product_name,monthly_sales_qty,total_sales_qty,total_comment_num,date_key
1,10022644635456,【现货】美国Edward & Sons有 机椰丝烘焙227g,NaN,NaN,0.0,2020-12-25
2,10030902240475,学生牛奶粉高钙高锌900g*2罐装儿童青少年高中大学女营养成长 【送:礼袋+燕麦片1袋】学生...,NaN,NaN,NaN,2021-05-15
5,56357165862,美羚德瑞兰帝婴幼儿羊奶粉1岁2岁3岁系列出口品质贴近母乳易吸收奶粉 德瑞兰帝 2段 800克,NaN,NaN,NaN,2021-05-10
6,70179074889,雅姆营养 羊奶粉3段(1-3岁幼儿适用）600g含乳铁蛋白益生菌Bb-12婴幼儿羊奶粉 #0,NaN,NaN,NaN,2020-07-09
9,100015758284,完达山（wondersun）菁润幼儿配方羊奶粉3段800g（1-3岁幼儿适用）,NaN,NaN,NaN,2020-12-11

In [ ]:
uniques = list(set(dfx['sku']))

skus_with_no_comment = []
total_rows_with_this_sku = []
rows_with_no_comment_under_this_sku = []
rows_with_comments_under_this_sku = []
percentage_of_no_comment = []
highest_date_with_this_sku = []
lowest_date_with_this_sku = []
max_date_with_nocom = []
min_date_with_nocom = []


def create_dataframe():

  df1 = pd.DataFrame(list(zip(skus_with_no_comment, total_rows_with_this_sku, rows_with_no_comment_under_this_sku, 
                              rows_with_comments_under_this_sku, percentage_of_no_comment, highest_date_with_this_sku, lowest_date_with_this_sku, 
                              max_date_with_nocom, min_date_with_nocom)), 
                     columns = ["skus_with_no_comment", "total_rows", "rows_with_no_comment", 
                                "rows_with_comments", "no_comment_percentage", "highest_date", "lowest_date", "max_date_with_nocom", "min_date_with_nocom"])

  return df1



def find_data(sku, df):

  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  
  # if df_n['total_comment_num'].isna().sum() > 0 or df_n['total_comment_num'] == 0.0:
  if ((df_n['total_comment_num'].isna().sum() > 0) | (df_n['total_comment_num'] == 0.0)).any():

    skus_with_no_comment.append(sku)
    total_rows_with_this_sku.append(len(df_n))
    rows_with_no_comment = len(df_n[(df_n['total_comment_num'].isna()) | (df_n['total_comment_num'] == 0.0)])
    rows_with_no_comment_under_this_sku.append(rows_with_no_comment)
    rows_with_comments_under_this_sku.append(len(df_n) - rows_with_no_comment)
    percentage_of_no_comment.append((df_n['total_comment_num'].isna().sum() / len(df_n)) * 100)
    highest_date_with_this_sku.append(df_n.loc[dfx['sku'] == sku, 'date_key'].max().date())
    lowest_date_with_this_sku.append(df_n.loc[dfx['sku'] == sku, 'date_key'].min().date())
    max_date_with_nocom.append(df_n.loc[(dfx['sku'] == sku) & (dfx['total_comment_num'].isna()),  'date_key'].max().date())
    min_date_with_nocom.append(df_n.loc[(dfx['sku'] == sku) & (dfx['total_comment_num'].isna()),  'date_key'].min().date())
  

  return create_dataframe()


def get_data(i, f):

  skus_with_no_comment.clear()
  total_rows_with_this_sku.clear()
  rows_with_no_comment_under_this_sku.clear()
  rows_with_comments_under_this_sku.clear()
  percentage_of_no_comment.clear()
  highest_date_with_this_sku.clear()
  lowest_date_with_this_sku.clear()
  max_date_with_nocom.clear()
  min_date_with_nocom.clear()
  

  for s in uniques[i:f]:
    df = find_data(s, dfx)

  return df

In [ ]:
df_test = get_data(0, 20)
df_test

,skus_with_no_comment,total_rows,rows_with_no_comment,rows_with_comments,no_comment_percentage,highest_date,lowest_date,max_date_with_nocom,min_date_with_nocom
0,72497496064,7,7,0,100.000000,2020-10-02,2020-08-19,2020-10-02,2020-08-19
1,100013965313,9,6,3,66.666667,2021-12-12,2021-09-29,2021-12-12,2021-10-06
2,57662242818,4,2,2,50.000000,2020-08-21,2020-07-25,2020-08-13,2020-08-06
3,10023432093697,1,1,0,100.000000,2020-11-07,2020-11-07,2020-11-07,2020-11-07
4,10074718218,49,31,18,63.265306,2021-12-13,2020-07-08,2021-12-12,2020-07-08
5,70223921164,1,1,0,100.000000,2020-07-23,2020-07-23,2020-07-23,2020-07-23
6,71524417552,3,3,0,100.000000,2020-10-08,2020-07-15,2020-10-08,2020-07-15
7,10032823402513,6,6,0,66.666667,2021-07-29,2021-06-26,2021-07-29,2021-06-26
8,64831356946,35,20,15,57.142857,2021-08-03,2020-07-15,2021-07-30,2020-07-15
9,63543443473,9,5,4,55.555556,2021-06-26,2020-09-18,2021-06-26,2020-11-12
10,10032823402512,5,5,0,80.000000,2021-07-29,2021-06-26,2021-07-29,2021-06-26
11,71224524825,18,18,0,88.888889,2020-12-29,2020-07-09,2020-12-29,2020-07-09
12,28705554462,22,14,8,63.636364,2021-08-03,2020-10-08,2021-07-30,2020-10-08
13,10030991802402,13,9,4,69.230769,2021-12-31,2021-06-21,2021-12-31,2021-06-21
14,10035736084515,5,5,0,60.000000,2021-10-04,2021-08-28,2021-10-04,2021-08-28
15,10035736084516,6,6,0,66.666667,2021-10-06,2021-08-28,2021-10-04,2021-08-28
16,10035736084517,5,5,0,40.000000,2021-10-05,2021-08-30,2021-09-13,2021-08-30
17,10035736084518,5,5,0,60.000000,2021-09-14,2021-08-28,2021-09-13,2021-08-28
18,69428314149,4,4,0,100.000000,2020-07-09,2020-07-02,2020-07-09,2020-07-02
19,10031492235304,6,6,0,33.333333,2021-08-09,2021-06-22,2021-07-29,2021-07-22

In [ ]:
def check_good_data(sku, date, df, m):

  df_n = df.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df_n.loc[df['sku'] == sku].sort_values('date_key')

  highest_date = df_n.loc[dfx['sku'] == sku, 'date_key'].max().date()
  lowest_date = df_n.loc[dfx['sku'] == sku, 'date_key'].min().date()

  

  if lowest_date <= date <= highest_date:
    print("True", lowest_date, date, highest_date)
    # df_n["day_diff"] = abs((df_n['date_key'].dt.date - date).dt.days)
    df_n["day_diff"] = np.absolute((df_n['date_key'].dt.date - date).dt.days)
    
    df_n["tc_deltas_possible"] = "Not Possible"
    df_n["tc_delta"] = 0
    df_n[f"tcd_00ms"] = 0
    
    df_n.loc[(df_n["day_diff"] > m) & (df_n["total_comment_num"] > 0), "tc_deltas_possible"] = "Possible"
    
    # df_n = df_n.loc[df_n['tc_deltas_possible'] == 'Possible']
    df_n.loc[df_n["tc_deltas_possible"] == "Possible", "tc_delta"] = df_n['day_diff'] - m


  else:
    print("False", lowest_date, date, highest_date)
  return df_n

In [ ]:
df_test = check_good_data(100005855583, "2020-10-09", dfx, 50)
df_test

True 2020-07-01 2020-10-09 2021-12-20

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
301113,100005855583,NaN,2020-07-09,92,Not Possible,0,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
964018,100005855583,NaN,2020-07-16,85,Not Possible,0,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
716242,100005855583,NaN,2020-08-06,64,Not Possible,0,0
328602,100005855583,NaN,2020-09-07,32,Not Possible,0,0
499305,100005855583,NaN,2020-09-08,31,Not Possible,0,0
600892,100005855583,NaN,2020-09-10,29,Not Possible,0,0
592897,100005855583,NaN,2020-09-11,28,Not Possible,0,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
180952,100005855583,NaN,2020-10-20,11,Not Possible,0,0
609202,100005855583,NaN,2020-11-07,29,Not Possible,0,0
8903,100005855583,NaN,2020-11-08,30,Not Possible,0,0
992425,100005855583,NaN,2020-11-19,41,Not Possible,0,0
734754,100005855583,NaN,2020-12-04,56,Not Possible,0,0
827464,100005855583,NaN,2020-12-11,63,Not Possible,0,0
1015220,100005855583,NaN,2020-12-18,70,Not Possible,0,0
554156,100005855583,NaN,2020-12-29,81,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
569554,100005855583,NaN,2021-01-15,98,Not Possible,0,0
346638,100005855583,NaN,2021-01-16,99,Not Possible,0,0
226444,100005855583,NaN,2021-02-25,139,Not Possible,0,0
131500,100005855583,NaN,2021-02-26,140,Not Possible,0,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
744254,100005855583,NaN,2021-06-01,235,Not Possible,0,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
996665,100005855583,NaN,2021-06-26,260,Not Possible,0,0
367645,100005855583,NaN,2021-07-22,286,Not Possible,0,0
1029675,100005855583,NaN,2021-07-30,294,Not Possible,0,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
1017019,100005855583,NaN,2021-09-17,343,Not Possible,0,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
663764,100005855583,NaN,2021-09-20,346,Not Possible,0,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
330477,100005855583,NaN,2021-09-24,350,Not Possible,0,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
973225,100005855583,NaN,2021-11-26,413,Not Possible,0,0
508256,100005855583,NaN,2021-11-28,415,Not Possible,0,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
755685,100005855583,NaN,2021-12-10,427,Not Possible,0,0
186490,100005855583,NaN,2021-12-12,429,Not Possible,0,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
df_try = dfx.loc[dfx['sku'] == 100005855583].sort_values('date_key')
print(len(df_try))
df_try

53

,sku,product_name,monthly_sales_qty,total_sales_qty,total_comment_num,date_key
161656,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,4078.0,2020-07-01
301113,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-07-09
822896,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,4245.0,2020-07-10
964018,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-07-16
376254,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,4676.0,2020-07-31
716242,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-08-06
328602,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-09-07
499305,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-09-08
600892,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-09-10
592897,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-09-11
315274,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,6842.0,2020-10-09
180952,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-10-20
609202,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-11-07
8903,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-11-08
992425,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-11-19
734754,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-12-04
827464,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-12-11
1015220,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-12-18
554156,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2020-12-29
314033,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,10436.0,2021-01-02
517034,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,10975.0,2021-01-12
569554,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-01-15
346638,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-01-16
226444,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-02-25
131500,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-02-26
912,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,12450.0,2021-03-02
761949,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,12599.0,2021-03-07
744254,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-06-01
89960,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,15447.0,2021-06-12
183040,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,15449.0,2021-06-13
674491,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,15527.0,2021-06-22
996665,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-06-26
367645,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-07-22
1029675,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-07-30
959916,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,17464.0,2021-08-01
546972,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,17522.0,2021-08-03
1017019,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-09-17
503975,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,19212.0,2021-09-18
663764,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-09-20
599343,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,19256.0,2021-09-21
330477,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-09-24
221441,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,19424.0,2021-09-25
169497,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,19451.0,2021-09-26
993313,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,19574.0,2021-09-29
596924,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,21238.0,2021-11-03
973225,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-11-26
508256,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-11-28
1041181,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,24064.0,2021-11-29
967214,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,24178.0,2021-12-04
544303,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,24230.0,2021-12-06
755685,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-12-10
186490,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,NaN,2021-12-12
867283,100005855583,京东超市 皇家美素佳儿（Friso Prestige) 儿童配方奶粉 4段（3岁以上至6岁适...,NaN,NaN,25158.0,2021-12-20

In [ ]:
df_try1 = dfx.loc[dfx['sku'] == 100013241352].sort_values('date_key')
print(len(df_try1))
df_try1

34

,sku,product_name,monthly_sales_qty,total_sales_qty,total_comment_num,date_key
1036407,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-08-20
557807,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-08-27
351596,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-08-28
733590,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,188.0,2020-08-29
187800,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,208.0,2020-09-12
203944,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-09-17
361533,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,256.0,2020-09-25
941220,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-10-02
53749,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2020-11-28
603907,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-01-05
291005,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-01-09
862211,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,1026.0,2021-01-12
125972,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,1096.0,2021-01-17
714458,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,1170.0,2021-01-26
742432,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,1180.0,2021-02-01
898950,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-02-12
583892,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-02-18
619013,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-02-19
339924,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-02-22
454362,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-03-05
742767,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-03-06
272627,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-03-11
143693,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,1445.0,2021-03-29
415024,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-05-20
401939,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-05-21
115103,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-05-25
962381,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-06-16
1038213,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2247.0,2021-08-24
1015757,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2327.0,2021-09-14
773605,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2369.0,2021-09-25
1011565,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2374.0,2021-09-26
448209,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2420.0,2021-10-12
538034,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,NaN,2021-10-18
635677,100013241352,京东超市美素佳儿（Friso Prestige）皇家幼儿配方奶粉 3段（1-3岁幼儿适用） ...,NaN,NaN,2474.0,2021-11-02

# 2.

In [ ]:
def check_good_data2(sku, date, df, m):

  df_n = df.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df_n.loc[df['sku'] == sku].sort_values('date_key')

  highest_date = df_n.loc[dfx['sku'] == sku, 'date_key'].max().date()
  lowest_date = df_n.loc[dfx['sku'] == sku, 'date_key'].min().date()

  

  if lowest_date <= date <= highest_date:
    print("True", lowest_date, date, highest_date)
    df_n["day_diff"] = abs((df_n['date_key'].dt.date - date).dt.days)
    
    df_n["tc_deltas_possible"] = "Not Possible"
    df_n["tc_delta"] = 0
    df_n[f"tcd_00ms"] = 0
    
    # df_n.loc[(df_n["day_diff"] > m) & (df_n["total_comment_num"] > 0), "tc_deltas_possible"] = "Possible"
    
    
    df_n.loc[(df_n["day_diff"] > m) & (df_n["total_comment_num"] > 0), "tc_deltas_possible"]
    
    # df_n = df_n.loc[df_n['tc_deltas_possible'] == 'Possible']
    df_n.loc[df_n["tc_deltas_possible"] == "Possible", "tc_delta"] = df_n['day_diff'] - m


  else:
    print("False", lowest_date, date, highest_date)
  return df_n

In [ ]:
# for idx, comment in df_test.loc[:, "day_diff"].iteritems():
random_date = "2020-10-29"
random_date = datetime.strptime(random_date, '%Y-%m-%d').date()
df_test["day_diff"] = np.absolute((df_test['date_key'].dt.date - random_date).dt.days)

# df_try = df_test[df_test['total_comment_num'].notna()]

# closest_date = df_try.index[df_try.index.searchsorted(date)].date()
#closest_date = df_try.index.get_loc(date, method="nearest")

# closest_date = df_test["date_key"][df_test["date_key"].searchsorted(random_date)]

id = np.argmin(df_test['day_diff'])
index = df_test.index[id]
# closest_date = df_test['date_key'][df_test.index[np.argmin(df_test['day_diff'])]].date()

# df_try = df_test[~df_test.isnull().any(axis=1)]
# closest_date = df_test[~df_test.isnull().any(axis=1)]['date_key'][df_test[~df_test.isnull().any(axis=1)].index[np.argmin(df_test[~df_test.isnull().any(axis=1)]['day_diff'])]].date()

# df1 = df_test[df_test[['total_comment_num']].notnull().any(1) & df_test['total_comment_num'] > 0]
df1 = df_test[df_test['total_comment_num'] > 0]
closest_date = df1['date_key'][df1.index[np.argmin(df1['day_diff'])]].date()

df_try = df_test[~df_test.isnull().any(axis=1)]
id2 = np.argmin(df_try['day_diff'])
index2 = df_try.index[id2]
closest = df_try['date_key'][index2]

# closest_date = df_test['date_key'][df_test.index[np.argmin(df_test['day_diff'])]].date()


print(id)
print(index)
print(closest_date)
print(closest)
print(df_test[df_test['date_key'] == str(closest_date)]["total_comment_num"])
print(df_try[df_try['date_key'] == str(closest)]["total_comment_num"])
df1

11
180952
2020-10-09
2020-10-09 00:00:00
315274    6842.0
Name: total_comment_num, dtype: float64
315274    6842.0
Name: total_comment_num, dtype: float64

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,120,Possible,50,0
822896,100005855583,4245.0,2020-07-10,111,Possible,41,0
376254,100005855583,4676.0,2020-07-31,90,Possible,20,0
315274,100005855583,6842.0,2020-10-09,20,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,65,Possible,35,0
517034,100005855583,10975.0,2021-01-12,75,Possible,45,0
912,100005855583,12450.0,2021-03-02,124,Possible,94,0
761949,100005855583,12599.0,2021-03-07,129,Possible,99,0
89960,100005855583,15447.0,2021-06-12,226,Possible,196,0
183040,100005855583,15449.0,2021-06-13,227,Possible,197,0
674491,100005855583,15527.0,2021-06-22,236,Possible,206,0
959916,100005855583,17464.0,2021-08-01,276,Possible,246,0
546972,100005855583,17522.0,2021-08-03,278,Possible,248,0
503975,100005855583,19212.0,2021-09-18,324,Possible,294,0
599343,100005855583,19256.0,2021-09-21,327,Possible,297,0
221441,100005855583,19424.0,2021-09-25,331,Possible,301,0
169497,100005855583,19451.0,2021-09-26,332,Possible,302,0
993313,100005855583,19574.0,2021-09-29,335,Possible,305,0
596924,100005855583,21238.0,2021-11-03,370,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,396,Possible,366,0
967214,100005855583,24178.0,2021-12-04,401,Possible,371,0
544303,100005855583,24230.0,2021-12-06,403,Possible,373,0
867283,100005855583,25158.0,2021-12-20,417,Possible,387,0

In [ ]:
# df_test[df_test[['total_comment_num']].notnull().any(1) & df_test['total_comment_num'] > 0]

df1 = df_test[df_test['total_comment_num'] > 0]
display(df_test.head())
display(df1.head())

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,181,Possible,50,0
301113,100005855583,NaN,2020-07-09,173,Not Possible,0,0
822896,100005855583,4245.0,2020-07-10,172,Possible,41,0
964018,100005855583,NaN,2020-07-16,166,Not Possible,0,0
376254,100005855583,4676.0,2020-07-31,151,Possible,20,0

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,181,Possible,50,0
822896,100005855583,4245.0,2020-07-10,172,Possible,41,0
376254,100005855583,4676.0,2020-07-31,151,Possible,20,0
315274,100005855583,6842.0,2020-10-09,81,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,4,Possible,35,0

In [ ]:
dfz = df_test.fillna(0.0)
dfz.head()

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
301113,100005855583,0.0,2020-07-09,92,Not Possible,0,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
964018,100005855583,0.0,2020-07-16,85,Not Possible,0,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0

In [ ]:
# df_test = df_test.set_index('date_key')
# df_test.set_index("date_key", inplace=True)
df_test

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,181,Possible,50,0
301113,100005855583,NaN,2020-07-09,173,Not Possible,0,0
822896,100005855583,4245.0,2020-07-10,172,Possible,41,0
964018,100005855583,NaN,2020-07-16,166,Not Possible,0,0
376254,100005855583,4676.0,2020-07-31,151,Possible,20,0
716242,100005855583,NaN,2020-08-06,145,Not Possible,0,0
328602,100005855583,NaN,2020-09-07,113,Not Possible,0,0
499305,100005855583,NaN,2020-09-08,112,Not Possible,0,0
600892,100005855583,NaN,2020-09-10,110,Not Possible,0,0
592897,100005855583,NaN,2020-09-11,109,Not Possible,0,0
315274,100005855583,6842.0,2020-10-09,81,Not Possible,0,0
180952,100005855583,NaN,2020-10-20,70,Not Possible,0,0
609202,100005855583,NaN,2020-11-07,52,Not Possible,0,0
8903,100005855583,NaN,2020-11-08,51,Not Possible,0,0
992425,100005855583,NaN,2020-11-19,40,Not Possible,0,0
734754,100005855583,NaN,2020-12-04,25,Not Possible,0,0
827464,100005855583,NaN,2020-12-11,18,Not Possible,0,0
1015220,100005855583,NaN,2020-12-18,11,Not Possible,0,0
554156,100005855583,NaN,2020-12-29,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,4,Possible,35,0
517034,100005855583,10975.0,2021-01-12,14,Possible,45,0
569554,100005855583,NaN,2021-01-15,17,Not Possible,0,0
346638,100005855583,NaN,2021-01-16,18,Not Possible,0,0
226444,100005855583,NaN,2021-02-25,58,Not Possible,0,0
131500,100005855583,NaN,2021-02-26,59,Not Possible,0,0
912,100005855583,12450.0,2021-03-02,63,Possible,94,0
761949,100005855583,12599.0,2021-03-07,68,Possible,99,0
744254,100005855583,NaN,2021-06-01,154,Not Possible,0,0
89960,100005855583,15447.0,2021-06-12,165,Possible,196,0
183040,100005855583,15449.0,2021-06-13,166,Possible,197,0
674491,100005855583,15527.0,2021-06-22,175,Possible,206,0
996665,100005855583,NaN,2021-06-26,179,Not Possible,0,0
367645,100005855583,NaN,2021-07-22,205,Not Possible,0,0
1029675,100005855583,NaN,2021-07-30,213,Not Possible,0,0
959916,100005855583,17464.0,2021-08-01,215,Possible,246,0
546972,100005855583,17522.0,2021-08-03,217,Possible,248,0
1017019,100005855583,NaN,2021-09-17,262,Not Possible,0,0
503975,100005855583,19212.0,2021-09-18,263,Possible,294,0
663764,100005855583,NaN,2021-09-20,265,Not Possible,0,0
599343,100005855583,19256.0,2021-09-21,266,Possible,297,0
330477,100005855583,NaN,2021-09-24,269,Not Possible,0,0
221441,100005855583,19424.0,2021-09-25,270,Possible,301,0
169497,100005855583,19451.0,2021-09-26,271,Possible,302,0
993313,100005855583,19574.0,2021-09-29,274,Possible,305,0
596924,100005855583,21238.0,2021-11-03,309,Possible,340,0
973225,100005855583,NaN,2021-11-26,332,Not Possible,0,0
508256,100005855583,NaN,2021-11-28,334,Not Possible,0,0
1041181,100005855583,24064.0,2021-11-29,335,Possible,366,0
967214,100005855583,24178.0,2021-12-04,340,Possible,371,0
544303,100005855583,24230.0,2021-12-06,342,Possible,373,0
755685,100005855583,NaN,2021-12-10,346,Not Possible,0,0
186490,100005855583,NaN,2021-12-12,348,Not Possible,0,0
867283,100005855583,25158.0,2021-12-20,356,Possible,387,0

In [ ]:
rows = df_test[~df_test.isnull().any(axis=1)]
rows

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
random_date = "2021-06-01"
random_date = datetime.strptime(random_date, '%Y-%m-%d').date()
first_comment = 0

"""
df_test["day_diff"] = np.absolute((df_test['date_key'].dt.date - random_date).dt.days)
id = np.argmin(df_test['day_diff'])
index = df_test.index[id]
closest = df1['date_key'][index2]
"""

df1 = df_test[df_test['total_comment_num'] > 0]

closest_date = df1['date_key'][df1.index[np.argmin(np.absolute((df1['date_key'].dt.date - random_date).dt.days))]].date()
comment_on_closest_date = df1[df1['date_key'] == str(closest_date)]["total_comment_num"].values[0]
tc_delta = (random_date - pd.to_timedelta(30, unit='d')) - closest_date
tcd = 0

print(comment_on_closest_date)
print(closest_date)
print(random_date, tc_delta)

15447.0
2021-06-12
2021-06-01 -41 days, 0:00:00

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs = [], [], [], [], []


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = (df_n['date_key'].dt.date - date).dt.days



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date()

# For loop here
  for idx, r in df_n.iterrows():
    if lowest_date <= date <= highest_date:
      df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days

      closest_diff = df_n['day_diff'].loc[df_n['day_diff'] > m].min()

      closest_date = df_n.loc[df_n['day_diff'] == closest_diff, 'date_key'].item().date()

      # comment_on_closest_date_lst = df_n[df_n['date_key'] == str(closest_date)]['total_comment_num'].tolist()
      
      comment_on_closest_date = df_n.loc[df_n['day_diff'] == closest_diff, 'total_comment_num'].item()
      
      
      tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)
      # comment_on_given_date = df_n['total_comment_num'].iloc[0]

      
      if (df_n.date_key == pd.Timestamp(date)).any():
        # comment_on_given_date = df_n[df_n['date_key'] == str(date)]['total_comment_num'].dt.date.item()

        comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      else:
        comment_on_given_date = df_n['total_comment_num'].iloc[0]
      
      tcd = abs(comment_on_closest_date - comment_on_given_date)

      # print(date, closest_date, comment_on_closest_date, tc_delta, tcd)
      # print(date, closest_date, day_diff)
      dates.append(closest_date)
      comments.append(comment_on_closest_date)
      tc_deltas.append(tc_delta)
      tcds.append(tcd)
      day_diffs.append(closest_diff)
      
      df_n = df_n.drop(df_n.index[df_n["date_key"] == str(date)])
      date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }
  # print("dates:", dates, '\n', "comments:", comments, '\n', "tc_deltas:", tc_deltas,'\n', "tcsds:", tcds)
  # for d in dates:
  #   print(d)
  # print(dates, "\n", comments, "\n", tc_deltas, '\n', tcds)
  return pd.DataFrame(out).set_index(['sku'])

In [ ]:
good_data(100005855583, "2020-10-08", dfx, 50)

                    date  comment  day_diff  tc_delta      tcd
sku
100005855583  2020-07-31   4676.0        69        39    598.0
100005855583  2020-10-09   6842.0        70       100   2166.0
100005855583  2021-01-02  10436.0        85       115   3594.0
100005855583  2021-03-02  12450.0        59        89   2014.0
100005855583  2021-06-12  15447.0       102       132   2997.0
100005855583  2021-08-03  17522.0        52        82   2075.0
100005855583  2021-06-13  15449.0        51        21   2073.0
100005855583  2021-09-18  19212.0        97       127   3763.0
100005855583  2021-11-29  24064.0        72       102   4852.0
100005855583  2021-09-29  19574.0        61        31   4490.0
100005855583  2021-08-01  17464.0        59        29   2110.0
100005855583  2021-09-21  19256.0        51        81   1792.0
100005855583  2021-12-04  24178.0        74       104   4922.0
100005855583  2021-09-26  19451.0        69        39   4727.0
100005855583  2021-12-06  24230.0        71       101   4779.0
100005855583  2021-09-25  19424.0        72        42   4806.0
100005855583  2021-12-20  25158.0        86       116   5734.0
100005855583  2021-06-22  15527.0       181       151   9631.0
100005855583  2021-03-07  12599.0       107        77   2928.0
100005855583  2021-01-12  10975.0        54        24   1624.0
100005855583  2020-07-10   4245.0       186       156   6730.0
100005855583  2021-11-03  21238.0       481       511  16993.0
100005855583  2020-07-01   4078.0       490       460  17160.0

In [ ]:
date1 = "2020-07-31"
date2 = "2020-10-09"
date1 = datetime.strptime(date1, '%Y-%m-%d').date()
date2 = datetime.strptime(date2, '%Y-%m-%d').date()

diff = abs((date1 - date2)).days

print(diff)

# print(type(df_test["date_key"]))
# print(type(date1))

# if (df_test.date_key == pd.Timestamp(date1)).any():
#   print ('date exist')
#   c = df_test[df_test['date_key'] == str(date1)]['total_comment_num'].item()

#   print(c)

# else:
#   c = df_test[0]['total_comment_num'].item()
#   print ('date exist not')

70

In [ ]:
df_test

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
301113,100005855583,NaN,2020-07-09,92,Not Possible,0,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
964018,100005855583,NaN,2020-07-16,85,Not Possible,0,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
716242,100005855583,NaN,2020-08-06,64,Not Possible,0,0
328602,100005855583,NaN,2020-09-07,32,Not Possible,0,0
499305,100005855583,NaN,2020-09-08,31,Not Possible,0,0
600892,100005855583,NaN,2020-09-10,29,Not Possible,0,0
592897,100005855583,NaN,2020-09-11,28,Not Possible,0,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
180952,100005855583,NaN,2020-10-20,11,Not Possible,0,0
609202,100005855583,NaN,2020-11-07,29,Not Possible,0,0
8903,100005855583,NaN,2020-11-08,30,Not Possible,0,0
992425,100005855583,NaN,2020-11-19,41,Not Possible,0,0
734754,100005855583,NaN,2020-12-04,56,Not Possible,0,0
827464,100005855583,NaN,2020-12-11,63,Not Possible,0,0
1015220,100005855583,NaN,2020-12-18,70,Not Possible,0,0
554156,100005855583,NaN,2020-12-29,81,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
569554,100005855583,NaN,2021-01-15,98,Not Possible,0,0
346638,100005855583,NaN,2021-01-16,99,Not Possible,0,0
226444,100005855583,NaN,2021-02-25,139,Not Possible,0,0
131500,100005855583,NaN,2021-02-26,140,Not Possible,0,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
744254,100005855583,NaN,2021-06-01,235,Not Possible,0,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
996665,100005855583,NaN,2021-06-26,260,Not Possible,0,0
367645,100005855583,NaN,2021-07-22,286,Not Possible,0,0
1029675,100005855583,NaN,2021-07-30,294,Not Possible,0,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
1017019,100005855583,NaN,2021-09-17,343,Not Possible,0,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
663764,100005855583,NaN,2021-09-20,346,Not Possible,0,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
330477,100005855583,NaN,2021-09-24,350,Not Possible,0,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
973225,100005855583,NaN,2021-11-26,413,Not Possible,0,0
508256,100005855583,NaN,2021-11-28,415,Not Possible,0,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
755685,100005855583,NaN,2021-12-10,427,Not Possible,0,0
186490,100005855583,NaN,2021-12-12,429,Not Possible,0,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
data = [
          (20, 16, 23),
          (30, None, 11),
          (40, 34, 11),
          (50, 35, None),
          (60, 40, 13)
        ]
  
# creating a DataFrame object
df = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'],
                     columns = ['x', 'y', 'z'])
  
display(df)

idx = df.index[df["x"] == 30]
print(idx)
df.drop(df.index[df["x"] == 30], inplace=True)
display(df)

# for r, j in df.iterrows():
#   print(df['x'][r])
#   print()
#   print(j)
#   print()
#   print(r)
#   print()

    x     y     z
a  20  16.0  23.0
b  30   NaN  11.0
c  40  34.0  11.0
d  50  35.0   NaN
e  60  40.0  13.0

Index(['b'], dtype='object')

    x     y     z
a  20  16.0  23.0
c  40  34.0  11.0
d  50  35.0   NaN
e  60  40.0  13.0

In [ ]:
date1 = "2020-10-09"
date2 = "2021-01-02"
date1 = datetime.strptime(date1, '%Y-%m-%d').date()
date2 = datetime.strptime(date2, '%Y-%m-%d').date()
closest_date = df_test['date_key'].loc[(df_test['date_key'].dt.date - date1).dt.days > 30].min().date()
print(closest_date)

2020-11-19

In [ ]:
dfq = df_test[df_test['total_comment_num'].notna()]
closest_diff = dfq['day_diff'].loc[dfq['day_diff']>70].min()
closest_date = dfq['date_key'].loc[dfq['day_diff'] == closest_diff]
print(closest_diff, closest_date)

85 314033   2021-01-02
Name: date_key, dtype: datetime64[ns]

In [ ]:
# closest_date = df_test['date_key'].loc[(df_test['date_key'].dt.date - date).dt.days > 30].min().date()
date = "2020-07-10"
date = datetime.strptime(date, '%Y-%m-%d').date()

closest_date = df_test['date_key'].loc[abs(df_test['date_key'].dt.date - date).dt.days > 30].min().date()
print(closest_date)

comment_on_closest_date = df_test[df_test['date_key'] == str(closest_date)]['total_comment_num'].item()
print(comment_on_closest_date)



tc_delta = abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days
print(tc_delta)


comment_on_closest_date = df_test[df_test['date_key'] == str(closest_date)]['total_comment_num'].tolist()
print(comment_on_closest_date)


inx = df_test.index[df_test["date_key"] == str(date)]
print(inx)

2020-09-07
nan
89
[nan]
Int64Index([822896], dtype='int64')

In [ ]:
df_q = df_test[df_test['total_comment_num'].notna()]
df_q

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
comment_on_given_date = df_test['total_comment_num'][161656]
print(comment_on_given_date)
print(df_test['total_comment_num'].iloc[0])

4078.0
4078.0

In [ ]:
highest_date = df_test['date_key'].max().date()
print(highest_date)
print(type(highest_date))

2021-12-20
<class 'datetime.date'>

In [ ]:
date = "2020-10-09"
date = datetime.strptime(date, '%Y-%m-%d').date()
# abs(df_test['date_key'].dt.date - date).dt.days

m = df_test['day_diff'].min()
# dt = df_test['date_key'].loc[df_test['day_diff'] == m]
d = df_test.loc[df_test['day_diff'] == m, 'date_key'].item().date()

c = df_test.loc[df_test['day_diff'] == m, 'total_comment_num'].item()


print(m, d, c)

0 2020-10-09 6842.0

# 3.

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs = [], [], [], [], []


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date() 

# For loop here
  for idx, r in df_n.iterrows():
    if lowest_date <= date <= highest_date:
      df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days

      closest_diff = df_n['day_diff'].loc[df_n['day_diff'] > m].min()

      closest_date = df_n.loc[df_n['day_diff'] == closest_diff, 'date_key'].item().date()

      # comment_on_closest_date_lst = df_n[df_n['date_key'] == str(closest_date)]['total_comment_num'].tolist()
      
      comment_on_closest_date = df_n.loc[df_n['day_diff'] == closest_diff, 'total_comment_num'].item()
      
      
      tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)
      # comment_on_given_date = df_n['total_comment_num'].iloc[0]

      
      if (df_n.date_key == pd.Timestamp(date)).any():
        # comment_on_given_date = df_n[df_n['date_key'] == str(date)]['total_comment_num'].dt.date.item()

        comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      else:
        comment_on_given_date = df_n['total_comment_num'].iloc[0]
      
      tcd = abs(comment_on_closest_date - comment_on_given_date)

      # print(date, closest_date, comment_on_closest_date, tc_delta, tcd)
      # print(date, closest_date, day_diff)
      dates.append(closest_date)
      comments.append(comment_on_closest_date)
      tc_deltas.append(tc_delta)
      tcds.append(tcd)
      day_diffs.append(closest_diff)
      
      df_n = df_n.drop(df_n.index[df_n["date_key"] == str(date)])
      date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }
  # print("dates:", dates, '\n', "comments:", comments, '\n', "tc_deltas:", tc_deltas,'\n', "tcsds:", tcds)
  # for d in dates:
  #   print(d)
  # print(dates, "\n", comments, "\n", tc_deltas, '\n', tcds)
  return pd.DataFrame(out).set_index(['sku'])

In [ ]:
good_data(100005855583, "2020-10-08", dfx, 50)

                    date  comment  day_diff  tc_delta      tcd
sku
100005855583  2020-07-31   4676.0        69        39    598.0
100005855583  2020-10-09   6842.0        70       100   2166.0
100005855583  2021-01-02  10436.0        85       115   3594.0
100005855583  2021-03-02  12450.0        59        89   2014.0
100005855583  2021-06-12  15447.0       102       132   2997.0
100005855583  2021-08-03  17522.0        52        82   2075.0
100005855583  2021-06-13  15449.0        51        21   2073.0
100005855583  2021-09-18  19212.0        97       127   3763.0
100005855583  2021-11-29  24064.0        72       102   4852.0
100005855583  2021-09-29  19574.0        61        31   4490.0
100005855583  2021-08-01  17464.0        59        29   2110.0
100005855583  2021-09-21  19256.0        51        81   1792.0
100005855583  2021-12-04  24178.0        74       104   4922.0
100005855583  2021-09-26  19451.0        69        39   4727.0
100005855583  2021-12-06  24230.0        71       101   4779.0
100005855583  2021-09-25  19424.0        72        42   4806.0
100005855583  2021-12-20  25158.0        86       116   5734.0
100005855583  2021-06-22  15527.0       181       151   9631.0
100005855583  2021-03-07  12599.0       107        77   2928.0
100005855583  2021-01-12  10975.0        54        24   1624.0
100005855583  2020-07-10   4245.0       186       156   6730.0
100005855583  2021-11-03  21238.0       481       511  16993.0
100005855583  2020-07-01   4078.0       490       460  17160.0

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs = [], [], [], [], []


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days
  
  current_day_diff = 0



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date() 

# For loop here
  for idx, r in df_n.iterrows():
    if lowest_date <= date <= highest_date:
      print("start", current_day_diff)
      try:
        diff_idx = df_n['day_diff'].loc[abs(current_day_diff - df_n['day_diff']) > m].idxmin()
        current_day_diff = df_n['day_diff'][diff_idx]
        closest_date = df_n['date_key'][diff_idx].date()
        comment_on_closest_date = df_n['total_comment_num'][diff_idx]
        df_n = df_n.drop(diff_idx)


      except (ValueError, KeyError) as e:
        pass


      print('end', current_day_diff)
      
      tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)

      
      if (df_n.date_key == pd.Timestamp(date)).any():
        comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      else:
        comment_on_given_date = df_n['total_comment_num'].iloc[0]
      
      tcd = abs(comment_on_closest_date - comment_on_given_date)


      dates.append(closest_date)
      comments.append(comment_on_closest_date)
      tc_deltas.append(tc_delta)
      tcds.append(tcd)
      day_diffs.append(current_day_diff)
      
      date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }



  return pd.DataFrame(out).set_index(['sku'])


good_data(100005855583, "2020-10-09", dfx, 50)

start 0
end 70
start 70
end 0
start 0
end 85
start 85
end 144
start 144
end 91
start 91
end 149
start 149
end 95
start 95
end 246
start 246
end 100
start 100
end 247
start 247
end 298
start 298
end 351
start 351
end 256
start 256
end 344
start 344
end 416
start 416
end 296
start 296
end 347
start 347
end 421
start 421
end 352
start 352
end 423
start 423
end 355
start 355
end 437
start 437
end 437

                    date  comment  day_diff  tc_delta      tcd
sku
100005855583  2020-07-31   4676.0        70        40   2166.0
100005855583  2020-10-09   6842.0         0       100   2764.0
100005855583  2021-01-02  10436.0        85       115   6358.0
100005855583  2021-03-02  12450.0       144        89   8372.0
100005855583  2020-07-10   4245.0        91       205    167.0
100005855583  2021-03-07  12599.0       149       270   8521.0
100005855583  2021-01-12  10975.0        95        24   6897.0
100005855583  2021-06-12  15447.0       246       181  11369.0
100005855583  2020-07-01   4078.0       100       316  11371.0
100005855583  2021-06-13  15449.0       247       377     78.0
100005855583  2021-08-03  17522.0       298        81   1995.0
100005855583  2021-09-25  19424.0       351        83   3897.0
100005855583  2021-06-22  15527.0       256        65   1937.0
100005855583  2021-09-18  19212.0       344       118   1748.0
100005855583  2021-11-29  24064.0       416       102   6600.0
100005855583  2021-08-01  17464.0       296        90   1792.0
100005855583  2021-09-21  19256.0       347        81    195.0
100005855583  2021-12-04  24178.0       421       104   4727.0
100005855583  2021-09-26  19451.0       352        39    123.0
100005855583  2021-12-06  24230.0       423       101   4656.0
100005855583  2021-09-29  19574.0       355        38   1664.0
100005855583  2021-12-20  25158.0       437       112   3920.0
100005855583  2021-12-20  25158.0       437        30   3920.0

In [ ]:
date = "2020-10-09"
date = datetime.strptime(date, '%Y-%m-%d').date()
current_day_diff = 0

df_q = df_test[df_test['total_comment_num'].notna()]

display(df_q)
diff_idx = df_q['day_diff'].loc[abs(current_day_diff - df_q['day_diff']) > 50].idxmin()

print(diff_idx)

df_q = df_q.drop(diff_idx)
display(df_q)

# current_day_diff = df_q['day_diff'][diff_idx]
# closest_date = df_q['date_key'][diff_idx].date()
# print(closest, current_day_diff)

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

376254

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
df_q = df_test[df_test['total_comment_num'].notna()]#.reset_index()
df_q

,sku,total_comment_num,date_key,day_diff,tc_deltas_possible,tc_delta,tcd_00ms
161656,100005855583,4078.0,2020-07-01,100,Possible,50,0
822896,100005855583,4245.0,2020-07-10,91,Possible,41,0
376254,100005855583,4676.0,2020-07-31,70,Possible,20,0
315274,100005855583,6842.0,2020-10-09,0,Not Possible,0,0
314033,100005855583,10436.0,2021-01-02,85,Possible,35,0
517034,100005855583,10975.0,2021-01-12,95,Possible,45,0
912,100005855583,12450.0,2021-03-02,144,Possible,94,0
761949,100005855583,12599.0,2021-03-07,149,Possible,99,0
89960,100005855583,15447.0,2021-06-12,246,Possible,196,0
183040,100005855583,15449.0,2021-06-13,247,Possible,197,0
674491,100005855583,15527.0,2021-06-22,256,Possible,206,0
959916,100005855583,17464.0,2021-08-01,296,Possible,246,0
546972,100005855583,17522.0,2021-08-03,298,Possible,248,0
503975,100005855583,19212.0,2021-09-18,344,Possible,294,0
599343,100005855583,19256.0,2021-09-21,347,Possible,297,0
221441,100005855583,19424.0,2021-09-25,351,Possible,301,0
169497,100005855583,19451.0,2021-09-26,352,Possible,302,0
993313,100005855583,19574.0,2021-09-29,355,Possible,305,0
596924,100005855583,21238.0,2021-11-03,390,Possible,340,0
1041181,100005855583,24064.0,2021-11-29,416,Possible,366,0
967214,100005855583,24178.0,2021-12-04,421,Possible,371,0
544303,100005855583,24230.0,2021-12-06,423,Possible,373,0
867283,100005855583,25158.0,2021-12-20,437,Possible,387,0

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs = [], [], [], [], []


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key').reset_index()
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = (df_n['date_key'].dt.date - date).dt.days
  
  current_day_diff = 0

  cond = df_n.day_diff > 0

  df_n1 = df_n[cond]
  df_n2 = df_n[~cond]

  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date() 

# For loop here
  for idx, r in df_n.iterrows():
    if lowest_date <= date <= highest_date:
      print("start", current_day_diff)
      try:
        diff_idx = df_n['day_diff'].loc[abs(current_day_diff - df_n['day_diff']) > m].idxmin()
        current_day_diff = df_n['day_diff'][diff_idx]
        closest_date = df_n['date_key'][diff_idx].date()
        comment_on_closest_date = df_n['total_comment_num'][diff_idx]
        df_n = df_n.drop(diff_idx)


      except (ValueError, KeyError) as e:
        pass


      print('end', current_day_diff)
      
      tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)

      
      if (df_n.date_key == pd.Timestamp(date)).any():
        comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      else:
        comment_on_given_date = df_n['total_comment_num'].iloc[0]
      
      tcd = abs(comment_on_closest_date - comment_on_given_date)


      dates.append(closest_date)
      comments.append(comment_on_closest_date)
      tc_deltas.append(tc_delta)
      tcds.append(tcd)
      day_diffs.append(current_day_diff)
      
      date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }



  return pd.DataFrame(out).set_index(['sku'])


good_data(100005855583, "2020-10-09", dfx, 50)

0 sku
1 total_comment_num
2 date_key
3 day_diff
4 tc_deltas_possible
5 tc_delta
6 tcd_00ms

good_data(100005855583, "2020-10-09", dfx, 50)

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs, indexes = [], [], [], [], [], [-2, -1]


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key').reset_index()
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days
  
  current_day_diff = 0
  diff_idx = 0
  comment_on_first_row = df_n['total_comment_num'].iloc[0]



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date() 

# For loop here
  for idx, r in df_n.iterrows():
    if lowest_date <= date <= highest_date:
      # print("start", current_day_diff)
      try:
        if not diff_idx < indexes[-2]:
          # df_n = df_n.drop(df_n.index[0:diff_idx+1])
          
          diff_idx = df_n['day_diff'].loc[abs(current_day_diff - df_n['day_diff']) > m].idxmin()
          print("indexes before adding", indexes)
          indexes.append(diff_idx)
          current_day_diff = df_n['day_diff'][diff_idx]
          closest_date = df_n['date_key'][diff_idx].date()
          comment_on_closest_date = df_n['total_comment_num'][diff_idx]
          df_n = df_n.drop(diff_idx)

          tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)

      
          if (df_n.date_key == pd.Timestamp(date)).any():
            comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
          else:
            comment_on_given_date = comment_on_first_row
          
          tcd = abs(comment_on_closest_date - comment_on_given_date)


          dates.append(closest_date)
          comments.append(comment_on_closest_date)
          tc_deltas.append(tc_delta)
          tcds.append(tcd)
          day_diffs.append(current_day_diff)
          
          date = closest_date
        else:
          continue


      except (ValueError, KeyError) as e:
        pass

      print("diff_idx", diff_idx, "last_before:", indexes[-1])
      print("indexes", indexes)
      # print('end', current_day_diff)
      
      # tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)

      
      # if (df_n.date_key == pd.Timestamp(date)).any():
      #   comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      # else:
      #   comment_on_given_date = comment_on_first_row
      
      # tcd = abs(comment_on_closest_date - comment_on_given_date)


      # dates.append(closest_date)
      # comments.append(comment_on_closest_date)
      # tc_deltas.append(tc_delta)
      # tcds.append(tcd)
      # day_diffs.append(current_day_diff)
      
      # date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }



  return pd.DataFrame(out).set_index(['sku'])

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs, indexes = [], [], [], [], [], [-2, -1]


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days
  
  current_day_diff = 0
  diff_idx = 0
  comment_on_first_row = df_n['total_comment_num'].iloc[0]



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date()
  display(df_n)

# For loop here
  for idx, r in df_n.iterrows():

    if lowest_date <= date <= highest_date:
      try:
        diff_idx = df_n['day_diff'].loc[abs(current_day_diff - df_n['day_diff']) > m].idxmin()

        if diff_idx < indexes[-2]:
          continue

        indexes.append(diff_idx)
        
        current_day_diff = df_n['day_diff'][diff_idx]
        closest_date = df_n['date_key'][diff_idx].date()
        comment_on_closest_date = df_n['total_comment_num'][diff_idx]
        df_n = df_n.drop(diff_idx)


      except (ValueError, KeyError) as e:
        pass
      

      
      if (df_n.date_key == pd.Timestamp(date)).any():
        comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
      else:
        comment_on_given_date = comment_on_first_row
      

      tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)
      tcd = abs(comment_on_closest_date - comment_on_given_date)


      dates.append(closest_date)
      comments.append(comment_on_closest_date)
      tc_deltas.append(tc_delta)
      tcds.append(tcd)
      day_diffs.append(current_day_diff)
      
      date = closest_date

      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku
            }



  return pd.DataFrame(out).set_index(['sku'])


good_data(100005855583, "2020-10-09", dfx, 50)

      index           sku  total_comment_num   date_key  day_diff
0    161656  100005855583             4078.0 2020-07-01       100
2    822896  100005855583             4245.0 2020-07-10        91
4    376254  100005855583             4676.0 2020-07-31        70
10   315274  100005855583             6842.0 2020-10-09         0
19   314033  100005855583            10436.0 2021-01-02        85
20   517034  100005855583            10975.0 2021-01-12        95
25      912  100005855583            12450.0 2021-03-02       144
26   761949  100005855583            12599.0 2021-03-07       149
28    89960  100005855583            15447.0 2021-06-12       246
29   183040  100005855583            15449.0 2021-06-13       247
30   674491  100005855583            15527.0 2021-06-22       256
34   959916  100005855583            17464.0 2021-08-01       296
35   546972  100005855583            17522.0 2021-08-03       298
37   503975  100005855583            19212.0 2021-09-18       344
39   599343  100005855583            19256.0 2021-09-21       347
41   221441  100005855583            19424.0 2021-09-25       351
42   169497  100005855583            19451.0 2021-09-26       352
43   993313  100005855583            19574.0 2021-09-29       355
44   596924  100005855583            21238.0 2021-11-03       390
47  1041181  100005855583            24064.0 2021-11-29       416
48   967214  100005855583            24178.0 2021-12-04       421
49   544303  100005855583            24230.0 2021-12-06       423
52   867283  100005855583            25158.0 2021-12-20       437

indexes before adding [-2, -1]
indexes before adding [-2, -1, 4]
indexes before adding [-2, -1, 4, 10]
indexes before adding [-2, -1, 4, 10, 19]
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 19
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 20
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 25
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 26
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 28
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 29
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 30
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 34
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 35
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 37
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 39
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 41
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 42
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 43
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 44
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 47
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 48
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 49
indexes before adding [-2, -1, 4, 10, 19, 25]
diff_idx 2 idx 52

                    date  comment  day_diff  tc_delta     tcd
sku
100005855583  2020-07-31   4676.0        70        40  2166.0
100005855583  2020-10-09   6842.0         0       100  2764.0
100005855583  2021-01-02  10436.0        85       115  6358.0
100005855583  2021-03-02  12450.0       144        89  8372.0

# 4. The function to get all the rows for which we can calculate tcd_values.
- As input, the function takes 
  > 1. an sku, 
  > 2. a random date, 
  > 3. the database
  > 4. the value of m.
- The function returns all the rows for which the tcds can be calculated for a given sku and a given date.
- We can easily calculate for how many rows it's possible to calculate the tcd values with this function.

In [ ]:
def good_data(sku, date, df, m):
  
  dates, comments, tc_deltas, tcds, day_diffs, indexes, idxs = [], [], [], [], [], [-2, -1], []


  date = datetime.strptime(date, '%Y-%m-%d').date()
  df_n = df.loc[df['sku'] == sku].sort_values('date_key')
  df_n = df_n[df_n['total_comment_num'].notna()]
  df_n = df_n.drop(['product_name', 'monthly_sales_qty', 'total_sales_qty'], axis = 1)
  df_n["day_diff"] = abs(df_n['date_key'].dt.date - date).dt.days
  
  current_day_diff = 0

  df_n = df_n.loc[(abs(current_day_diff - df_n['day_diff']) > m) | (df_n['day_diff'] == 0)].reset_index()



  idx = 0
  comment_on_first_row = df_n['total_comment_num'].iloc[0]



  highest_date = df_n['date_key'].max().date()
  lowest_date = df_n['date_key'].min().date()


# For loop here
  for idx, r in df_n.iterrows():

    if lowest_date <= date <= highest_date:
      try:
        idx = df_n['day_diff'].loc[abs(current_day_diff - df_n['day_diff']) > m].idxmin()

        if idx < indexes[-1]:
          df_n.drop(df_n.index[0:idx+1], inplace=True)

        indexes.append(idx)
        
        
        current_day_diff = df_n['day_diff'][idx]
        closest_date = df_n['date_key'][idx].date()
        comment_on_closest_date = df_n['total_comment_num'][idx]
        df_n = df_n.drop(idx)


        if (df_n.date_key == pd.Timestamp(date)).any():
          comment_on_given_date = df_n.loc[df_n['date_key'] == str(date), 'total_comment_num'].item()
        else:
          comment_on_given_date = comment_on_first_row
        

        tc_delta = abs(abs((date - pd.to_timedelta(30, unit='d')) - closest_date).days)
        tcd = abs(comment_on_closest_date - comment_on_given_date)


        dates.append(closest_date)
        comments.append(comment_on_closest_date)
        tc_deltas.append(tc_delta)
        tcds.append(tcd)
        day_diffs.append(current_day_diff)
        idxs.append(idx)
        
        date = closest_date


      except (ValueError, KeyError) as e:
        pass


      out = {"date": dates,
             "comment": comments,
             "day_diff": day_diffs,
             "tc_delta": tc_deltas,
             "tcd": tcds,
             "sku": sku,
             "idxs": idxs
            }



  return pd.DataFrame(out).set_index(['idxs', 'sku'])


good_data(100005855583, "2020-10-09", dfx, 50)

                         date  comment  day_diff  tc_delta      tcd
idxs sku
2    100005855583  2020-07-31   4676.0        70        40   2166.0
3    100005855583  2020-10-09   6842.0         0       100   2764.0
4    100005855583  2021-01-02  10436.0        85       115   6358.0
6    100005855583  2021-03-02  12450.0       144        89   8372.0
8    100005855583  2021-06-12  15447.0       246       132  11369.0
13   100005855583  2021-09-18  19212.0       344       128  15134.0
19   100005855583  2021-11-29  24064.0       416       102  19986.0